*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #d9f0ff;
    width: 600px;
    height: 590px;
    border: #83c9f4 2px solid;
    border-radius: 5px;
    margin: 25px 100px 0 350px;
    padding: 0 15px;
}

.img_email{
    width: 100%;
    display: flex;
}

.img_email img{
    width: 90px;
    border-radius: 50%;
    background-color: #fff;
    margin: 25px 25px 25px 45px;
}

.h1_email{
    font-size: 30px;
    margin: 50px 0 0 15px;
}

.video{
    width:"100%";
    height:"330px";
}

.h3_payment{
    margin: 15px 0 0 15px;
}

.all_payment{
    display: flex;
    width: 100%;
}

.all_payment img{
    width: 75px;
    margin: 10px 25px 0 25px;
    cursor: pointer;
}

#price{
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-left: 25px;
    text-align: center;
}

.btn_submit{
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    margin: 10px 0 0 70px;
}